<!DOCTYPE html>
<html lang="ko">
  <title>202112701 손채연</title>
   <head>
   </head>
<body>

  <p>js data : <% for (var i=0; i <data.length; i++){
    var no = data[i].no;
    var name = data[i].brand;%>
    <li>#<%= i %>- <%= no %> : <%= name %></li>
<% } %></p>

</body>
</html>